@charset"utf-8";
html{
    font-size: 62.5%;/* 16px × 62.5% = 10px*/
}

.main-visual{
    position:relative;

}

.site-title{
    position:absolute;
    color:white;
    font-weight: bold;
    font-size: 3em;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}

.sub-title{
    position:absolute;
    color: white;
    font-size: 2em;
    top:60%;
    left:25%;

}


body{
    color:#333333;
    font-size: 1.6rem;
}

img{
    max-width: 100%;
    height: auto;
}

.manu1{
    display: flex;
    justify-content: space-between;
    background: #EEEEEE;
}

.manu1-1{
    width: 150px;
    margin-left: 50px;
}

.manu2{
    display: flex;
}

.manu2-1{
    padding-top: 7px;
}

.manu2-2{
    margin-left: 30px;
    padding-top: 7px;
}

.manu2-3{
    margin-left: 30px;
    padding-top: 7px;
}

.manu2-4{
    margin-left: 30px;
    padding-top: 7px;
}

.manu2-5{
    margin-left: 30px;
    margin-right: 100px;
    padding-top: 7px;
}

.img2{
    margin-top: 24px;
}


.title-about{
    color: #FFD61A;
    font-weight: bold;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
}

.chse{
    text-align: center;
    margin-bottom: 32px;
}

.about-p1{
    text-align: center;
    margin-bottom: 16px;
}

.about-p2{
    text-align: center;
}

.about-p3{
    text-align: center;
    margin-bottom: 16px;

}

.about-p4{
    text-align: center;
    margin-bottom: 16px;
}

.about-p5{
    text-align: center;
}

.about-p6{
    text-align: center;
    margin-bottom: 32px;
}

.about-body{
    position: relative;
    background: white;
}

.title-course{
    font-weight: bold;
    text-align: center;
    margin-top: 32px;
}

.cource-p1{
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cource-p2{
    text-align: center;
}

.cource-p3{
    text-align: center;
    margin-bottom: 32px;
}

.news-header{
    width: 1140px;
    margin: auto;
}

.news-list{
    display: flex;
    flex-wrap: wrap;
}

.news-item{
    width: 33.333%;
}

.title-news{
    color: #FFD61A;
    font-weight: bold;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

.news2{
    text-align: center;
    margin-bottom: 16px;
}

.news-subtitle{
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: bold;
    text-align: center;

}

.news-jamp{
    border: none;
    padding: 1em 6em;
    background: #FFD61A;
    color: white;
    display: block;
    margin: 2em auto 5em;
}


.course-sub1{
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 40px;
}

.title-access{
    font-weight: bold;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 20px;
    padding-top: 32px;
}

.access-p{
    text-align: center;
    padding-bottom: 20px;
}

.title-contact{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 16px;
}

.sub-cource1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sc{
    margin-left: 50px;
}

.ssc{
    padding: 50px;
}

.sc1{
    width: 50%;
}

.sc1-1{
    width: 50%;
}

.cource-sub2{
    font-weight: bold;
    margin-left: 50px;
}

.sub-cource2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.sc2{
    width: 50%;
}

.sc2-1{
    width: 50%;
}

.cource-sub3{
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 40px;
}

.sub-cource3{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sc3{
    width: 50%;
}

.sc3-1{
    width: 50%;
}

.sssc{
    margin-left: 50px;
}

.block-ac{
    display: flex;
    flex-direction: column;
}

.acs{
    padding-top: 50px;
    padding-bottom: 50px;
}

.ac1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em 0;
}

.ac1-1{
    width: 150px;
    font-weight: bold;
    text-align: right;
}

.ac1-2{
    margin: 0 0 0 1em;
    width: 25em;
}

.ac2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em 0;
}

.ac2-1{
    width: 150px;
    font-weight: bold;
    text-align: right;
}

.ac2-2{
    margin: 0 0 0 1em;
    width: 25em;
}

.ac3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em 0;
}

.ac3-1{
    width: 150px;
    font-weight: bold;
    text-align: right;
}

.ac3-2{
    margin: 0 0 0 1em;
    width: 25em;
}

.ac4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em 0;
}

.ac4-1{
    width: 150px;
    font-weight: bold;
    text-align: right;
}

.ac4-2{
    margin: 0 0 0 1em;
    width: 25em;
}

.access-body{
    background: #EEEEEE;
}


.ggmap{
    position: relative;
    padding-bottom: 56.25%;
    padding-top:30px;
    height: 0;
    overflow: hidden;
}

.ggmap iframe,
.ggmap object
.ggmap embed{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-all{
    text-align: center;
}

.cp1{
    margin-top: 16px;
    margin-bottom: 32px;
}

.cp4{
    margin-top: 16px;
}


.form1{
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
}



.f1-2{
    margin-left: 20px;
}


.form2{
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
}

.f2{
    margin-left: 20px;
}

.form3{
    display: flex;
    margin-top: 10px;
}

.f3{
    margin-left: 20px;
}

.form4{
    display: flex;
    margin-left: 45px;
    margin-top: 10px;
}

.f4{
    margin-left: 20px;
}

.f4-1{
    font-size: small;
}

.f5{
    border: none;
    padding: 1em 6em;
    background: #FFD61A;
    color: white;
    display: block;
    margin: 2em auto 5em;
}


.form6{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;

}

.form-all{
    margin-top: 32px;
}

.contact-form{
    width: 560px;
    margin: auto;
}

